name: java-ci-release-v1
on:
  workflow_dispatch:
  pull_request:
    branches:
      - release-1.x
jobs:
  build-v1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
      - name: Verify with Maven
        run: mvn --update-snapshots --batch-mode verify
