name: dispatch-snapshot
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    environment: main
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@3a3c4c57d294ef65efaaee4ff17b22fa88dd3c69 # v1
        with:
          token_format: 'access_token'
          workload_identity_provider: projects/144266375356/locations/global/workloadIdentityPools/scs-pool/providers/gh-provider
          service_account: artifacts-scs-rw@cognite-inso-internal.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@e30db14379863a8c79331b04a9969f4c1e225e0b # v1

      - name: Set up JDK 17
        uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Verify with Maven
        run: |
          mvn --update-snapshots -B clean deploy -Prelease-internal
