name: java-ci-release-v1
on:
  workflow_dispatch:
  pull_request:
    branches:
      - release-1.x
jobs:
  build-v1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Set up JDK 17
        uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
      - name: Verify with Maven
        run: mvn --update-snapshots --batch-mode verify
