name: java-main
on:
  pull_request:
    branches:
      - main
    paths:
      - pom.xml
      - .github/workflows/release.yml
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Apache Maven Central
        uses: actions/setup-java@v2
        with: # running setup-java again overwrites the settings.xml
          distribution: 'adopt'
          java-version: '11'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.SONATYPE_OSSRH_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Install jq
        run: |
          curl http://stedolan.github.io/jq/download/linux64/jq -o ./jq
          chmod a+x ./jq

      - name: Detect version change
        id: detect
        run: |
          CENTRAL_VERSION=$(curl -s "http://search.maven.org/solrsearch/select?q=g:"com.cognite"+AND+a:"cdf-sdk-java"" | ./jq ".response.docs[0].latestVersion")
          MVN_VERSION=$(mvn -q \
              -Dexec.executable=echo \
              -Dexec.args='${project.version}' \
              --non-recursive \
              exec:exec)
          ALREADY_DEPLOYED=$(curl -s "http://search.maven.org/solrsearch/select?q=g:"com.cognite"+AND+a:"cdf-sdk-java"+AND+v:"$MVN_VERSION"" | ./jq .response.numFound)
          echo "CENTRAL_VERSION=$CENTRAL_VERSION"
          echo "MVN_VERSION=$MVN_VERSION"
          echo "ALREADY_DEPLOYED=$ALREADY_DEPLOYED"
          echo "::set-output name=central_version::$CENTRAL_VERSION"
          echo "::set-output name=maven_version::$MVN_VERSION"
          echo "::set-output name=already_available::$ALREADY_DEPLOYED"

      - name: Publish to Apache Maven Central
        if: ${{ !endsWith(steps.detect.outputs.maven_version, 'SNAPSHOT') && steps.detect.outputs.maven_version != steps.detect.outputs.central_version && steps.detect.outputs.already_available == '0' }}
        run: |
          mvn -B clean verify deploy -Prelease
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_OSSRH_USER }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.SONATYPE_OSSRH_GPG_KEY_PASSPHRASE }}
